@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div id="banner">
    <a  href="/Home/Login">
    <img src="/pcwap/image//banner.jpg" width="100%"> 
        </a>
</div>
<div style="background:url(image/beijing.jpg)">

<div id="main">



<div class="clearfix"></div>
</div>

