@{
    ViewBag.Title = "mregist";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
    <script src="../../Scripts/jquery-1.7.1.min.js"></script>
<link href="/pcwap/css/huiyuan.css" type="text/css" rel="stylesheet">
          <script type="text/javascript"  src="@Url.Content("~/Scripts/Login/Login.js")"></script>
</head>
<body style="background:#fff;">
<div id="denglu">
<div class="left_dl">
<img src="/pcwap/image/logo.jpg">
</div>
<a href="/Home/Index">返回首页</a>
</div>
   
<div id="main_dls"><div class="conent_dl">
<div class="dl_right"><div class="con_dengl">
<div class="tittle_dl"><span>已注册会员</span><a href="/Home/Regist">注册会员</a></div>
<div class="con_dlzh">
<table width="310" height="198" border="0" style="margin:0 auto;">
  <tr>
    <td width="66" height="43"><div align="right"><span>手机号：</span></div></td>
    <td width="223"><input type="text" class="zhanghu_text" id="txtUserName"/></td>
  </tr>
  <tr>
    <td height="55"><div align="right"><span>密&nbsp;&nbsp;码：</span></div></td>
    <td><input type="password" id="txtUserPSD" class="mima_text"/></td>
  </tr>
 
  <tr>
    <td height="60">&nbsp;</td>
      <td><input type="button" class="denglu_an" id="btnLogin" value="登陆"/></td>
  </tr>
</table>

</div>
</div></div>
</div>
</div>

<!--footer-->
<div id="footer"><p>&nbsp;</p>
 <p><span>Copyright © 2019  运城学院学生信息管理系统所有 ，服务热线：0311-80798225</span></p></div>
</body>
</html>

