@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/Content/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/Content/js/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        //顶部导航切换
        $(".nav li a").click(function () {
            $(".nav li a.selected").removeClass("selected")
            $(this).addClass("selected");
        })
    })
</script>


</head>

<body style="background:url(/Content/images/topbg.gif) repeat-x;">

    <div class="topleft" >
    <a href="/Work/Index" target="_parent"><img src="/Content/images/loginlogo.png" title="系统首页" /></a>
    </div>
          @{
          Conris.DBA.Model.UsersType UsersType=Conris.Services.AdminUserservice.GetNowUsersType();
          }
  
            
    <div class="topright">   
        <div class="Users">
    <span><a href="#" id="Edit" style="color:white;">@Conris.Services.AdminUserservice.GetNowUserName() 修改密码</a>&nbsp;&nbsp;<a href="#" id="Edit2" style="color:white;">个人信息</a> &nbsp;&nbsp;<a  id="btnQiut" >退出</a></span>
    
    </div> 
   
  
    
    </div>

</body>
</html>
<script type="text/javascript">
    $(function () {
       
        $("#Edit").click(function () {
            var frameid = parent.document.getElementById("rightFrame");  
            frameid.src = "/Work/EditPsd";
            //parent.location.href = "/Work/EditPsd";
        });
        $("#Edit2").click(function () {
            var frameid = parent.document.getElementById("rightFrame");
            frameid.src = "/Work/GRXX";
            //parent.location.href = "/Work/EditPsd";
        });
        $("#btnQiut").click(function () {
            $.ajax({
                type: "post",
                url: "/Home/LogOff",
                success: function (data) {
                    if (data) {
                        parent.location.href = "/Home/Login";
                    }
                }
            });
        });
    });
</script>