@model Conris.DBA.Model.NewsInfo
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
<title>@Model.Title</title>
<meta name="keywords" content="某某集团" />
<meta name="description" content="" />
    <script type="text/javascript" src="@Url.Content("~/content/js/jquery-1.8.0.min.js")"></script>
<link href="/Content/css/css.css" rel="stylesheet" type="text/css">
</head>
<script src="JsCss/setimg.js"></script>
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script src='JsCss/iepng.js' type='text/javascript'></script>
<script type='text/javascript'>
   EvPNG.fix('*'); 
</script>
<![endif]-->
<body style="background-color:white;);
">
	
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="/Work/main">首页</a></li>
         <li><a href="#" onclick="history.go(-1)">返回</a></li>
    </ul>
    </div>

	

	

<script>document.getElementById('Link2').className = 'Sy';</script>
        <div class="Main">
           <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="40"><div align="center"> 
            <span  ><b>@Model.Title</b></span> 
                                        </div></td>
  </tr>
  <tr>
    <td height="40"><div align="center"> 发布日期：[@Convert.ToDateTime(Model.Time).ToString("yyyy-MM-dd")]</div></td>
  </tr>
  <tr>
    <td><div style="MARGIN-RIGHT: auto; MARGIN-LEFT: auto; "> @Html.Raw(Model.NewsContent)</div></td>
  </tr>
  <tr>
    <td> </td>
  </tr>
      <tr>
    <td style="height:20px;"> </td>
  </tr>
     
  
</tbody></table>
        </div>
</body>
</html>
<script type="text/javascript" src="JsCss/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
      
        $(".Nav ul li a").mouseover(function () { //When trigger is clicked...
            //Following events are applied to the subnav itself (moving subnav up and down)
            $(this).parent().find(".subnav").slideDown('fast').show(); //Drop down the subnav on click
            $(this).parent().hover(function () {
            }, function () {
                $(this).parent().find(".subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
            });
            //Following events are applied to the trigger (Hover events for the trigger)
        })
    });
</script>
<script type="text/javascript" src="JsCss/roll.js"></script> 
<script type="text/javascript">
    function setTab(m, n) {
        var menu = document.getElementById("tab" + m).getElementsByTagName("span");   //获取ID为tab+m标签下的li标签
        var showdiv = document.getElementById("tablist" + m).getElementsByTagName("ul");   //获取ID为tablist+m标签下的div标签
        for (i = 0; i < menu.length; i++) {
            menu[i].className = i == n ? "on" : "";   //如果i=n;那么menu[i].classname为now
            showdiv[i].style.display = i == n ? "block" : "none";   //如果如果i=n;那么showdiv[i].style.display为block"
        }
    };
    //鼠标经过切换父div背景
    $(function () {
        $("#T1").mouseover(
			function () {
			    $(this).parent("div").removeClass("N_li");
			});
        $("#T2").mouseover(
			function () {
			    $(this).parent("div").addClass("N_li");   //鼠标经过时增加样式N_li
			});
    });
    //鼠标经过li切换背景、字体 颜色
    $("#tablist1 li").hover(
		function () {
		    $(this).addClass("li_color");   //鼠标经过时增加样式P02
		},
		function () {
		    $(this).removeClass("li_color"); //鼠标离开时移除样式P02
		}
	);
</script>

