@model Maticsoft.ViewModel.GoodsSearch
@{
    ViewBag.Title = "hyxx";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, Users-scalable=no">
    <title>我发布的物品</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="/Mobile/js/rem.js"></script> 
    <script src="/Mobile/js/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/Mobile/css/base.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/css/page.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/css/all.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/css/loaders.min.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/css/loading.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/slick/slick.css">
     <link href="../../Mobile/css/demo.css" rel="stylesheet" />
    <link href="../../Mobile/css/iconfont.css" rel="stylesheet" />
</head>
	<body>
		<div class="headertwo clearfloat" id="header">
			<a href="javascript:history.go(-1)" class="fl box-s"><i class="icon iconfont"></i></a>
			<p class="fl">我发布的物品</p>
		</div>
		
		<div class="clearfloat" id="main">
            	@Html.Action("msearch",Model)
            @Html.Action("mlist",Model)
		
		</div>
		
		</body>
	<script type="text/javascript" src="/Mobile/js/jquery-1.8.3.min.js" ></script>
	<script type="text/javascript" src="/Mobile/js/jquery.SuperSlide.2.1.js" ></script>
	<script type="text/javascript" src="/Mobile/slick/slick.min.js" ></script>
	<script type="text/javascript" src="/Mobile/js/jquery.leanModal.min.js"></script>
	<script type="text/javascript" src="/Mobile/js/tchuang.js" ></script>
	<script type="text/javascript" src="/Mobile/js/hmt.js" ></script>
</html>
<script type="text/ecmascript">
    function DelUsers(obj) {
        if (confirm("确定删除该发布的数据吗？")) {
            var ID = $(obj).attr("id");
            $.ajax({
                type: "post",
                traditional: true,
                url: "/Wap/DelGoods",
                data: { ID: ID },
                datatpye: "json",
                success: function (data) {
                    if (data) {
                        alert("删除成功！")
                        window.location.reload();
                    }
                    else {
                        alert("删除失败，只有未出租的物品才能删除！")
                    }
                }
            });
        }
    }

    function refreah(ID) {  
            $.ajax({
                type: "post",
                traditional: true,
                url: "/Wap/UpdateGoods",
                data: { ID: ID },
                datatpye: "json",
                success: function (data) {
                    if (data) {
                        alert("刷新成功，您发布的信息将显示在更前面！")
                        window.location.reload();
                    }
                }
            });
    }
</script>

