@model Maticsoft.ViewModel.GoodsSearch
<table width="90%" border="0" cellspacing="0" cellpadding="0" class="kuang" align="center">
<form action="/Wap/Index" method="get"><tbody><tr>
<td>
    <input type="text"  style="border:1px #FF7F00 solid;width:100px;" class="dropdown-select"  placeholder="关键字"  />
 
</td>

<td><select  class="dropdown-select" id="GoodsType" name="GoodsType" style="border:1px #FF7F00 solid;">
<option value="">全部类别</option>
    <option value="书籍">书籍</option>
    <option value="生活用品">生活用品</option>
      <option value="生活电器">生活电器</option>
      <option value="生活电器">生活电器</option>
     <option value="电子产品">电子产品</option>
    <option value="代步工具">代步工具</option>
     <option value="其他">其他</option>
</select></td>
<td><input type="submit" value="查询" class="submit" style="margin-left:5px;"></td>
</tr>
</tbody></form>
</table>