@model Maticsoft.Model.Goods
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, Users-scalable=no">
    <title>物品详情</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="/Mobile/js/rem.js"></script> 
    <script src="/Mobile/js/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/Mobile/css/base.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/css/page.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/css/all.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/css/loaders.min.css">
    <link rel="stylesheet" type="text/css" href="/Mobile/css/loading.css">
     <link href="../../Mobile/css/demo.css" rel="stylesheet" />
    <link href="../../Mobile/css/iconfont.css" rel="stylesheet" />
	<script type="text/javascript">
	    $(window).load(function () {
	        $(".loading").addClass("loader-chanage")
	        $(".loading").fadeOut(300)
	    })
	</script>
</head>

	<body>
		<div class="headertwo clearfloat" id="header">
			<a href="javascript:history.go(-1)" class="fl box-s"><i class="icon iconfont"></i></a>
			<p class="fl">物品详情</p>
			<a href="#" class="fr" onClick="toshare()"><i class="iconfont icon-fenxiang fl"></i></a>
		</div>
		
		
		
		<div class="clearfloat" id="main">		
			<div class="service clearfloat">
				<div >
					<div>
						<img  src="/pcwap/assets/api/images/1.jpg">
						
				</div>
			</div>		
			
			
			
			<div class="service-ctent clearfloat">
				<div class="recom-tit clearfloat box-s">
		    		<p>@Model.Name</p>
                    
		    	</div>
		    	<div class="service-list clearfloat box-s">
		    		<ul>
		    			<li>物品名称：@Model.Name</li>
                           <li>品牌：@Model.GoodPP</li>
		    			<li>押金：@Model.Price</li>
                         
		    			
                       
                       <li>日租价：@Model.RPrice</li>
                    <li>月租价：@Model.YPrice</li>
                        <li>联系人：@Model.Contacts</li>
		    			<li>电话：@Model.Phone</li>
                        <li>发布时间：@Model.Str1.Split(' ')[0].Replace('/','-')</li>
		    		</ul>
		    		 <p class="service-tit">物品亮点：@Model.Highlights</p>
                    <p class="service-tit">备注：@Model.Remark</p>
                  
		    	</div>		    	
			</div>
			
	
			
			<div class="service-ctent clearfloat">
				<div class="recom-tit clearfloat box-s">
		    		
		    	</div>
		    	
			</div>
			
			
		</div>
              <div class="footer-look clearfloat" id="footer">
                  <a href="#" id="sc" style="width:50%;float:left;color:white;" onclick="DY(this)">收藏</a>
            @if (Model.State=="待出租")
            {
              
                    	
			<a href="/Wap/OCreate?ID=@Model.ID" id="modaltrigger" style="width:50%;float:left;">我要租</a>
		
            }
            else
            {
                <a href="/Wap/OCreate?ID=@Model.ID" id="modaltrigger" style="width:50%;float:left;">出租中</a>    
            }
	</div>
	</body>
	
	
</html>
<script type="text/ecmascript">
    $(function () {
        $.ajax({
            type: "post",
            traditional: true,
            url: "/Wap/GetSC",
            data: { ID:'@Model.ID' },
            datatpye: "json",
            success: function (data) {
                if (data) {
                    $("#sc").html("取消收藏");
                }
              
            }
        });
    });
    function DY(obj) {
            var ID = $(obj).attr("id");
            $.ajax({
                type: "post",
                traditional: true,
                url: "/Wap/DY",
                data: { ID: '@Model.ID' },
                datatpye: "json",
                success: function (data) {
                    if (data) {
                        alert("操作成功！")
                        window.location.reload();
                    }

                }
            });
      
    }

</script>

